body {
  background: #67B26F;  /* fallback for old browsers */
  background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #000;
}
.bg {

  background: #3e243a;  /* fallback for old browsers */
  background: linear-gradient(to right, #44193d, #9e749c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #000;

}
.student-profile .card {
  border-radius: 10px;
}
.student-profile .card .card-header .profile_img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px auto;
  border: 10px solid #f09ddb;
  border-radius: 50%;
}
.student-profile .card h3 {
  font-size: 20px;
  font-weight: 700;
}
.student-profile .card p {
  font-size: 16px;
  color: #000;
}

.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}

.but {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.edit-button {
  /* Styles for the Edit button */
  background-color: purple;
  color:rgb(251, 199, 232);
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.delete-button {
  /* Styles for the Delete button */
  background-color: #f8282b;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}
